*{
    background-color: chartreuse;
    /* align-items: center; */
    /* align-content: center; */
    margin: 0px;
    padding: 0px;
}
h1{
    align-content: center;
}
button{
    align-items: center;
}